body{
background-color: black;
color:white;
font-family: "Playpen Sans Arabic", sans-serif;
margin: 0px;
}

header{
    font-size: 25px;
    border-bottom: solid 4px rgb(228, 82, 129)
    ;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}