body{
background-color: black;
color:white;
font-family: "Playpen Sans Arabic", sans-serif;
margin: 0px;
}

header{
    font-size: 25px;
    border-bottom: solid 4px rgb(228, 82, 129);
    padding: 35px;
    font-size: 35px;
    color: rgb(42, 228, 42);

}

h1{
    font-size: 30px;
    padding: 20px;
}

p{
    font-size: 20px;
}

section{
    background: rgb(228, 82, 129);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}